.blog{
    border: 1px solid red;
    border-radius: 10px;
    width: 30%; margin: 10px;
    display: inline-block;
    
    }

     h2 {
        text-align: center;
    }
    p{ 
       text-align: justify;
    }

    img{
        width: 60%;
    }
}